@import "reset.css";
@import url(<link href="https://fonts.googleapis.com/css?family=Montserrat:900&display=swap" rel="stylesheet">);
@import url(<link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">);
@import url(<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">);

body {
      background-color: #003161;
      width: 1440px;
      height: 8789px;
      }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 72px;
    margin-bottom: 40px;
    color: #003161;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    }
h2{
  white-space: pre-line;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 36px;
  width: 50%;
  line-height: 50px;
  margin-left: 20px;

}
p {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    width: 50%;
    line-height: 40px;
  }
p, h1 {
  margin-left: 20px;
       }
img  {
        position: relative;
        left: 790px;
        width: 55%;
      }
/*общие настройки для тегов*/
.stp h1 {
    white-space: pre-line;
    transform: translateY(-50px);
    }
.stp p {
    transform: translateY(-50px);
    }
.spp {
      color: #003161;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
    }
.spps {
        color: white;
      }
.pct {
  transform: translateY(-560px);
}
/*первая (основная (класс stp)) страница*/
.firstadv h1  {
  transform: translateY(-521px);
}
.firstadv p {
  transform: translateY(-523px);
}
.firstadv img {
  transform: translateY(-824px);
}
.stripefirst {
  background-color: white;
  width: 800px;
  height: 100px;
  transform: translateY(-523px);
}
.stripefirst h2 {
  color: #003161;
  display: block;
  margin: 0;
  width: 610px;
  height: 100px;
  transform: translateY(-53px);
  padding-left: 20px;

}
/* заголовок страницы с советыми и первый совет*/
.secondadv {
  transform: translateY(-996px);
}
.secondadv h2 {
  background-color: white;
  color: #003161;
  width: 770px;
  display: inline-block;

}
.stripesecond {
  background-color: white;
  width: 610px;
  transform: translateY(-251px);
}
.secondimg {
  transform: translateY(-671px);
}
.secondadv p {
  transform: translateY(-251px);
}
.secondadv {
  transform: translateY(-576px);
}
/* второй совет*/

.thirdadv p {
  transform: translateY(-1248px);
}
.stripethird {
  background-color: white;
  width: 800px;
  height: 50px;
  transform: translateY(-1251px);
}
.stripethird h2{
  background-color: white;
  color: #003161;
  width: 770px;
}
.thirdimg {
  transform: translateY(-1461px);
}
/* третий совет*/
.fourthadv p {
  transform: translateY(-1461px);
}
.stripefourth {
  background-color: white;
  width: 800px;
  height: 50px;
  transform: translateY(-1464px);
}
.stripefourth h2{
  background-color: white;
  color: #003161;
  width: 770px;
}
.fourthimg {
  transform: translateY(-1594px);
}
/* четвертый совет */
.stripefifth {
  background-color: white;
  width: 800px;
  height: 50px;
  transform: translateY(-1597px);
}
.stripefifth h2{
  background-color: white;
  color: #003161;
  width: 770px;
}
.fifthadv p {
  transform: translateY(-1597px);
}
.fifthimg {
  transform: translateY(-1807px);
}
/* пятый совет */
.progfirst h1 {
  width: 1100px;
  transform: translateY(-1768px);
}
.firstprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 5923px;
}
.progstripefirst {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 5923px;
}
.progstripefirst h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progfirst p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 5975px;
}
/* первая программа */
.secondprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 6372px;
}
.progstripesecond {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 6372px;
}
.progstripesecond h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progsecond p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 6427px;
}
/* вторая программа */
.thirdprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 6821px;
}
.progstripethird {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 6821px;
}
.progstripethird h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progthird p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 6873px;
}
/* третья программа */
.fourthprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 7273px;
}
.progstripefourth {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 7273px;
}
.progstripefourth h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progfourth p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 7325px;
}
/* четвёртая программа */
.fifthprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 7725px;
}
.progstripefifth {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 7725px;
}
.progstripefifth h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progfifth p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 7777px;
}
/* пятая программа */
.sixthprog {
  position: absolute;
  width: 406px;
  height: 396px;
  left: 29px;
  top: 8177px;
}
.progstripesixth {
  background-color: white;
  position: absolute;
  width: 858px;
  height: 50px;
  left: 476px;
  top: 8177px;
}
.progstripesixth h2 {
  color: #003161;
  position: absolute;
  left: -15px;
}
.progsixth p {
  position: absolute;
  width: 858px;
  height: 50px;
  left: 458px;
  top: 8229px;
}
/* шестая программа */
.concl p {
position: absolute;
width: 1324px;
height: 194px;
top: 8650px;
left: 6px;
}
/* заключеие */
